:root{
    --sec: rgb(24, 29, 56);
}

.bgfooter{
    background-color: var(--sec);
}

*{
    font-family: 'Heebo', sans-serif;
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: 'Nunito', sans-serif;
}



.titolo{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 5px;
    
}

.bigtext{
    font-size: 50px;
}

.blur{
    backdrop-filter: blur(6px);
    width: 500px;
    border-radius: 10px;

}

.vh-120{
    min-height: 120vh;
    background:url(./img/stream.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}



.cards{
    max-width: 90%;
    background-color: rgba(227, 228, 248, 0.877);
    box-shadow: 3px 3px 5px gray;

}

.cards:hover{
    background-color: rgb(13, 110, 253);
    color: white;
}

.icone{
    color: rgb(13, 110, 253);
}

.numeri{
    font-size: 50px;
    font-weight: bold;
    color: rgb(13, 110, 253);
}


.bird{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
    background-size:auto 100%;
    width: 350px;
    height: 500px;
    animation-name: volo;
    animation-duration: 1s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    filter: invert(27%) sepia(77%) saturate(2720%) hue-rotate(209deg) brightness(101%) contrast(100%);
}

@keyframes volo {
   100%{background-position: -3600px 0;}
}




.categorie{
      height: 25px;
      width: 60px;
      background-color:rgb(13, 110, 253);
      bottom: 10%;
      right: 5%;
}

.categorie1{
    height: 25px;
    width: 60px;
    background-color:rgb(13, 110, 253);
    bottom: 35%;
    right: 25%;
}

.categorie2{
    height: 25px;
    width: 60px;
    background-color:rgb(13, 110, 253);
    bottom: 10%;
    right: 30%;
    
}
  
.scale:hover{
      transform: scale(1.1);
      transition: 1s;
}

.none{
      text-decoration: none;
}

.btn-none{
    display: none;
}

body,html{
    overflow-x: hidden;
}

@media screen and (max-width=800px){
    .gmap_canvas{
        height: 200px;
        width: 70%!important;
    }
}

.cardAnnuncio{
    width: 18rem;
    box-shadow: 2px 4px 6px rgb(13, 110, 253);
}
